/* .ball-sec {
    display: flex;
    width: 100%;
    justify-content: center;

}

.contact-sec {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

.box {
    transform: translateX(-150%);
    transition: -5s all;
    margin-top: 50px;
    pad: 15px;
    border-radius: 15px;
}

.box-active {
    transform: translateX(0);
} */

.ball-sec {
    display: flex;
    width: 100%;
    justify-content: center;
}

.contact-sec {
    margin-top: 100px;
    padding: 50px;
    text-align: center;
}

.box {
    transform: translateX(-150%);
    transition: 0.5s all; /* Use a positive duration value */
    margin-top: 50px;
    padding: 15px; /* Correct the property name */
    border-radius: 15px;
}

.box-active {
    transform: translateX(0);
}
