<div class="ball-sec">
  <h1 class="text-center mt-5 ball">Angular Animation</h1>
</div>

<div class="content-sec">
  <button class="btn btn-primary ms-auto" (click)="toggle()">Toggle Content</button>


<div class="d-flex box"*ngIf="IsOpen" [ngClass]="{'active':IsOpen}">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, obcaecati.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur id
    soluta quidem consectetur assumenda ullam pariatur, iste impedit et
    molestias repudiandae sapiente nemo quae odio? Amet iusto obcaecati ut
    explicabo?
  </p>
</div>
</div>