<!-- <div id="buttons">
    <button (click)="decrement()">Decrement</button>
    <button (click)="increment()">Increment</button>
  </div>
   -->

   <!-- <div class="container mt-5">
    <div id="buttons">
      <button class="btn btn-primary" (click)="decrement()">Decrement</button>
      <button class="btn btn-success" (click)="increment()">Increment</button>
    </div> -->

    <div id="buttons">
      <button (click)="decrement()">Decrement</button>
      <button (click)="increment()">Increment</button>
    </div>
    